:root 
{
    --purple: #3e0249;
}

body 
{
    margin: 0;
    padding: 0;
    color: var(--purple);
    font-family: sans-serif;
}

* 
{
    box-sizing: border-box;
}

h1 
{
    font-size: 54px;
    text-align: center;
}

.container 
{
    padding: 40px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#image 
{
    border-color: var(--purple);
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    background-color: var(--purple);
}

button 
{
    color: white;
    padding: 10px 20px;
    border-color: var(--purple);
    font-size: 20px;
    border-radius: 10px;
    background-color: var(--purple);
}

button:hover 
{
    cursor: pointer;
    transform: translateY(-2px);
}

#flipBtn:disabled 
{
    background-color: rgb(212, 166, 250);
    border-color: rgb(212, 166, 250);
}

#resetBtn:disabled 
{
    background-color: rgb(212, 166, 250);
    border-color: rgb(212, 166, 250);
}